

<div class="card py-3 mt-3 mb-3">
  <div class="card-body py-3">
    <div class="row g-0">
      <%= tag.div class: %w(col-6 col-md-4 border-200  border-end pb-4) do %>
        <h6 class="pb-1 text-700">Equity
        </h6>
        <p class="font-sans-serif lh-1 mb-1 fs-2"><%= number_to_indian_currency(@equity) %>
          <%=tag.span class:"fs-3 text-600 ms-2 mt-2 mb-0 #{@ep > @dp ? 'text-primary' : 'text-danger'}" do %>
          (<%=@ep%>%)
        <% end %>
        </p>
      <% end %>
      <%= tag.div class: %w(col-6 col-md-4 border-200 border-end border-end-md pb-4 ps-3) do %>
        <h6 class="pb-1 text-700">Debt
        </h6>
        <p class="font-sans-serif lh-1 mb-1 fs-2"><%= number_to_indian_currency( @debt ) %>
         <%=tag.span class:"fs-3 text-600 ms-2 mt-2 mb-0 #{@dp > @ep ? 'text-primary' : 'text-danger'}" do %>
          (<%=@dp%>%)
        <% end %>
        </p>

      <% end %>
      <%= tag.div class: %w(col-6 col-md-4 border-200  border-end-md-0 pb-4 pt-4 pt-md-0 ps-md-3) do %>
        <h6 class="pb-1 text-700"> Total Corpus
        </h6>
        <p class="font-sans-serif lh-1 mb-1 fs-2"><%= number_to_indian_currency(((@equity+@debt)).round(0))%>
        </p>

      <% end %>

    </div>
  </div>
</div>
