<div class="d-flex mb-4 mt-6">
  <div class="col">
    <h5 class="mb-0 text-primary position-relative">
    <span class="bg-200 dark__bg-1100 pe-3">Retirement Portfolio</span>
    <%=tag.span class: %w(border position-absolute top-50 translate-middle-y w-100 start-0 z-n1 )%>
    </h5>
    <p class="mb-0">Including Equity(Mutual Funds, ETFs) and Debt</p>
  </div>
</div>
<%= render partial: "aggregate" %>
<div class='mt-2 card' data-list='{"valueNames":["fund_name",{"name" : "inv","attr" :"data-inv"},{"name" : "cur","attr" :"data-cur"},{"name" : "change","attr" :"data-change"}]}'>
<div class = 'card-header bg-light'>
 As Of - (<%= @records.first.nav_at.strftime("%m/%d/%Y") %>)
 <%= tag.span class: " me-3 float-end fs-5 #{@profit > 0 ? 'text-primary' : 'text-danger'}"  do %>
 <%= number_to_indian_currency(@profit) %>
 <% end %>
</div>

<div class= 'card-body'> 
  <table class="table table-sm fs--1 mb-0 overflow-hidden">
    <thead class= 'bg-200 text-900'>
      <tr>
        <th class="sort align-middle fw-medium" data-sort='fund_name'>Scheme Name</th>
        <th class="sort align-middle fw-medium" data-sort='inv'>Invested Amount</th>
        <th class="sort align-middle fw-medium" data-sort='cur'>Current Amount</th>
        <th class="sort align-middle fw-medium" data-sort='change'>Change</th>
      </tr>
    </thead>
    <tbody class='list'>
      <% @records.each do |rec| %>
        <tr>
          <td class='fund_name'><%= rec.fund_name %></td>
          <td class='inv' data-inv=<%=rec.amount%>><%= number_to_indian_currency(rec.amount.round(2)) %></td>
          <td class='cur' data-cur=<%=(rec.nav * rec.units)%>><%= number_to_indian_currency((rec.nav * rec.units).round(2)) %></td>
          <% cng =(rec.nav * rec.units) - rec.amount%>
          <td class='change <%= cng > 0 ? 'text-success' : 'text-danger'%>' data-change=<%=cng%> ><%= number_to_indian_currency((cng).round(2)) %></td>

        </tr>
      <% end %>
    </tbody>
  </table>

  </div>
  
</div>
